@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  max-width: 800px;
  margin: 40px auto;
  background:#000;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}
h1,h2{
  margin-bottom: 16px;
}
button{
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button primary{
  background-color: green;
  color: #fff;
}
button danger{
  background-color: red;
  color: #fff;
  margin-left: 10px;
}
button:hover{
  opacity: 0.9;
}
input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.user-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-bottom: 1px solid #ddd;
}
.user-card p{
  margin: 4px 0 0;
  font-size: 14px;
  color: #fff;
}